.form__name{
    color: black;
    font-style: normal;
    font-weight: normal;   
    border: none;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 30px;
    border-bottom: 1px solid black ;
    height: 27px;
}

@media screen and (min-width: 320px)  {
    .form__name{
        width: 238px;
        
       
    }
  }
  
  @media screen and (min-width: 1024px) and (max-width: 1280px) {
    .form__name{
        width: 358px; 
    }
  }
  