.gallery {
  margin: 0px auto;

}

@media screen and (min-width: 320px) {
  .gallery {
    min-width: 282px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .gallery {
    width: 895px;

  }
}