.gallery__element {
  background-color: #FFFFFF;
  width: 282px;
  min-height: 362px;
  border-radius: 10px; 
  position: relative;
}

@media screen and (min-width: 320px) {
  .gallery__element {
    margin: 10px 8.5px;
  }
}

@media screen and (min-width: 1024px) {
  .gallery__element {
    margin: 10px 14px 10px 0px;
  }
}