.popup__container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

@media screen and (min-width: 320px) {
  .popup__container {
    width: 282px;
    margin: 93px auto;
  }
}

@media screen and (min-width: 1024px) {
  .popup__container {
    width: 514px;
    margin: 153px auto;
  }
}