.profile {
  margin: 0px auto;
  display: flex;
}

@media screen and (min-width: 320px) {
  .profile {
    width: 88vw;
    margin-bottom: 26px;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 1024px) {
  .profile {
    width: 880px;
    margin-bottom: 40px;
    flex-direction: row;
  }
}