.popup-image__container {
  display: flex;
  position: relative;
  display: inline-block;
  
}

@media screen and (min-width: 320px) {
  .popup-image__container {
    margin: 136px auto;
  }
}

@media screen and (min-width: 1024px) {
  .popup-image__container {
    margin: 90px auto;
  }
}