.gallery__like {
  width: 24px;
  height: 24px;
  margin: 5px 5px 0px 0px;
  background-image: url(./../../../images/heart-icon.svg);
  background-size: 22px 19px;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0px;
}

.gallery__like:hover {
  opacity: .5;
  transition: 0.3s;
}