@media screen and (min-width: 320px) {
  .profile__info {
    margin: 26px auto 36px;
    text-align: center;
  }
}

@media screen and (min-width: 1024px) {
  .profile__info {
    margin: 0px 0px 0px 30px;
    text-align: left;
    flex-direction: column;
  }
}