.profile__button_add {
  margin: 0px auto;
  background-image: url(./../../../images/plus.svg);
  background-color: transparent;
  border: none;
  cursor: pointer;
  background-position: center;
}

.profile__button_add:hover {
  opacity: .6;
}

@media screen and (min-width: 320px) {
  .profile__button_add {
    width: 16px;
    height: 16px;
    margin-top: 17px;
  }
}

@media screen and (min-width: 1024px) {
  .profile__button_add {
    width: 22px;
    height: 22px;
    margin: 0px;
  }
}