.form__profession{
    color: black;
    border: none;
    border-bottom: 1px solid black ;
}

@media screen and (min-width: 320px)  {
    .form__profession{
        width: 238px;
        height: 27px;
    }
  }
  
  @media screen and (min-width: 1024px) and (max-width: 1280px) {
    .form__profession{
        width: 358px;
        height: 27px;
      
    }
  }
  